In [1]:
# import dependencies for this notebook
import pandas as pd

In [2]:
# read csv files as panda dataframes
col_df = pd.read_csv('Resources/mh_costofliving.csv')
qol_df = pd.read_csv('Resources/mh_qualityoflife.csv')
city_df = pd.read_csv('Resources/mh_cities.csv')
pop_df = pd.read_csv('Resources/Population.csv')

In [3]:
# Merge the dfs together from movehub/kaggle that have the city info
big_df = col_df.join(qol_df.set_index('City'),on='City')
big_df.head()

,City,Cappuccino,Cinema,Wine,Gasoline,Avg Rent,Avg Disposable Income,Movehub Rating,Purchase Power,Health Care,Pollution,Quality of Life,Crime Rating
0,Lausanne,3.15,12.59,8.40,1.32,1714.00,4266.11,87.21,90.77,65.85,87.62,73.21,35.55
1,Zurich,3.28,12.59,8.40,1.31,2378.61,4197.55,85.89,79.58,78.33,18.04,97.91,15.35
2,Geneva,2.80,12.94,10.49,1.28,2607.95,3917.72,83.27,61.22,74.88,29.43,82.76,54.36
3,Basel,3.50,11.89,7.35,1.25,1649.29,3847.76,84.20,78.17,79.74,59.18,88.27,28.12
4,Perth,2.87,11.43,10.08,0.97,2083.14,3358.55,95.38,62.11,80.56,23.53,74.62,50.01

In [4]:
# merge big df with city df to get overall df for the movehub csv files found on kaggle
movehub_df = big_df.join(city_df.set_index('City'),on='City')
movehub_df

,City,Cappuccino,Cinema,Wine,Gasoline,Avg Rent,Avg Disposable Income,Movehub Rating,Purchase Power,Health Care,Pollution,Quality of Life,Crime Rating,Country
0,Lausanne,3.15,12.59,8.40,1.32,1714.00,4266.11,87.21,90.77,65.85,87.62,73.21,35.55,Switzerland
1,Zurich,3.28,12.59,8.40,1.31,2378.61,4197.55,85.89,79.58,78.33,18.04,97.91,15.35,NaN
2,Geneva,2.80,12.94,10.49,1.28,2607.95,3917.72,83.27,61.22,74.88,29.43,82.76,54.36,Switzerland
3,Basel,3.50,11.89,7.35,1.25,1649.29,3847.76,84.20,78.17,79.74,59.18,88.27,28.12,Switzerland
4,Perth,2.87,11.43,10.08,0.97,2083.14,3358.55,95.38,62.11,80.56,23.53,74.62,50.01,Australia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,Davao,0.79,1.90,3.17,0.84,554.18,158.34,69.29,17.63,69.00,77.98,30.66,17.71,NaN
212,Karachi,1.00,3.27,5.11,0.67,197.78,139.60,67.81,14.63,51.57,69.63,18.50,74.36,Pakistan
213,Lahore,1.23,3.27,6.54,0.66,206.08,132.95,67.32,12.45,48.94,30.55,28.52,51.98,Pakistan
214,Addis Ababa,0.46,2.29,4.18,0.72,653.77,124.22,59.88,6.38,63.89,85.59,28.41,26.04,Ethiopia
215,Indore,0.91,2.23,6.03,0.84,205.15,120.68,76.38,35.79,31.34,59.42,48.53,16.93,India

In [5]:
# clean up movehub df by droping cities with unknown country(These appear as duplicates)
clean_df = movehub_df.drop_duplicates('City',keep=False)
clean_df = clean_df.dropna()
clean_df

,City,Cappuccino,Cinema,Wine,Gasoline,Avg Rent,Avg Disposable Income,Movehub Rating,Purchase Power,Health Care,Pollution,Quality of Life,Crime Rating,Country
0,Lausanne,3.15,12.59,8.40,1.32,1714.00,4266.11,87.21,90.77,65.85,87.62,73.21,35.55,Switzerland
2,Geneva,2.80,12.94,10.49,1.28,2607.95,3917.72,83.27,61.22,74.88,29.43,82.76,54.36,Switzerland
3,Basel,3.50,11.89,7.35,1.25,1649.29,3847.76,84.20,78.17,79.74,59.18,88.27,28.12,Switzerland
4,Perth,2.87,11.43,10.08,0.97,2083.14,3358.55,95.38,62.11,80.56,23.53,74.62,50.01,Australia
5,Nashville,3.84,12.00,13.50,0.65,2257.14,3089.75,80.61,80.30,60.30,0.00,80.50,25.50,United States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,Cairo,1.42,3.27,7.33,0.19,425.85,163.44,67.93,11.90,56.48,86.16,17.25,48.81,Egypt
212,Karachi,1.00,3.27,5.11,0.67,197.78,139.60,67.81,14.63,51.57,69.63,18.50,74.36,Pakistan
213,Lahore,1.23,3.27,6.54,0.66,206.08,132.95,67.32,12.45,48.94,30.55,28.52,51.98,Pakistan
214,Addis Ababa,0.46,2.29,4.18,0.72,653.77,124.22,59.88,6.38,63.89,85.59,28.41,26.04,Ethiopia
215,Indore,0.91,2.23,6.03,0.84,205.15,120.68,76.38,35.79,31.34,59.42,48.53,16.93,India

In [6]:
# Get pop df ready for merge by renaming Name column and droping unwanted columns
pop_df = pop_df.rename(columns={'Name':'City'})
pop_df.head()
pop_df = pop_df.drop('rank',1)
pop_df.head()

          City Country  Population      Prev  Growth
0        Tokyo   Japan    37393128  37435192 -0.0011
1        Delhi   India    30290936  29399140  0.0303
2     Shanghai   China    27058480  26317104  0.0282
3    Sao Paulo  Brazil    22043028  21846508  0.0090
4  Mexico City  Mexico    21782378  21671908  0.0051

In [7]:
# create a merged df
merged_df = clean_df.merge(pop_df, on='City', how='left')
# remove unwanted columns and drop empty rows
merged_df = merged_df.dropna().drop('Country_y',1).rename(columns={'Country_x':'Country'})
# move country to front of rows
columns = list(merged_df)
columns.insert(1,columns.pop(columns.index('Country')))
merged_df = merged_df[columns]

In [8]:
# look at df
merged_df

,City,Country,Cappuccino,Cinema,Wine,Gasoline,Avg Rent,Avg Disposable Income,Movehub Rating,Purchase Power,Health Care,Pollution,Quality of Life,Crime Rating,Population,Prev,Growth
1,Geneva,Switzerland,2.80,12.94,10.49,1.28,2607.95,3917.72,83.27,61.22,74.88,29.43,82.76,54.36,613373.0,606436.0,0.0114
2,Basel,Switzerland,3.50,11.89,7.35,1.25,1649.29,3847.76,84.20,78.17,79.74,59.18,88.27,28.12,559027.0,555469.0,0.0064
3,Perth,Australia,2.87,11.43,10.08,0.97,2083.14,3358.55,95.38,62.11,80.56,23.53,74.62,50.01,2041959.0,2016415.0,0.0127
4,Nashville,United States,3.84,12.00,13.50,0.65,2257.14,3089.75,80.61,80.30,60.30,0.00,80.50,25.50,673167.0,671110.0,0.0031
9,Adelaide,Australia,2.49,11.42,10.08,0.95,1382.26,2911.69,87.29,72.03,56.25,12.01,91.54,41.32,1336403.0,1328119.0,0.0062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,Cairo,Egypt,1.42,3.27,7.33,0.19,425.85,163.44,67.93,11.90,56.48,86.16,17.25,48.81,20900604.0,20484964.0,0.0203
173,Karachi,Pakistan,1.00,3.27,5.11,0.67,197.78,139.60,67.81,14.63,51.57,69.63,18.50,74.36,16093786.0,15741406.0,0.0224
174,Lahore,Pakistan,1.23,3.27,6.54,0.66,206.08,132.95,67.32,12.45,48.94,30.55,28.52,51.98,12642423.0,12188196.0,0.0373
175,Addis Ababa,Ethiopia,0.46,2.29,4.18,0.72,653.77,124.22,59.88,6.38,63.89,85.59,28.41,26.04,4793699.0,4591983.0,0.0439
176,Indore,India,0.91,2.23,6.03,0.84,205.15,120.68,76.38,35.79,31.34,59.42,48.53,16.93,3016713.0,2919295.0,0.0334

In [9]:
# save the df
merged_df.to_csv('Output/movehub_and_populations.csv',index=False)